<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hydrophonic Controller</title>
    <% include partials/head.ejs %>
</head>

<body>

    <div id="wrapper">

        <% include partials/sidebarMenu.ejs %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      <p align="center" class="headingFont">
                        Hydrophonics - Self Sustained!!!
                      </p>
                      <br/>

                   <blockquote class="mainLines">
                    There are many potentially harmful or toxic chemicals present in food what we eat ,whether
                    occuring naturally ,as Contaminants ,or as deliberate additives.
                    That's why we created <code>Hydrophonic Controller</code> to grow your your Plants and Herbs
                    in a Self Sustained Environment without your intervention.
                  </blockquote>

                  <blockquote class="mainLines">
                    Hydroponics uses far less water then soil growing.
                    You can plant 4 times the amount of crops in the same space as soil farming.
                    No Contamination in terms of Insecticide and Pesticide.<br/><br/> We share the best of
                    Hydrophonics knowledge and practices with you.<br/> Go Through Hydrophonic Knowledge Base <a href="/contribute">here</a> or <a href="/new-story">Contribute your Hydroponics Experience</a>
                  </blockquote>

                  </div>
           </div>
         </div>
      </div>


  </div>

  <% include partials/jsIncludes.ejs %>

</body>

</html>
