<!DOCTYPE html>
<html lang="en">

<head>

    <title>Registration Successful !</title>
    <% include partials/head.ejs %>


</head>

<body>

    <div id="wrapper">

        <% include partials/sidebarMenu.ejs %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      <p align="center" class="headingFont">
                        Leave the marks !!!
                      </p>
                      <br/><br/><br/>

                   <blockquote class="mainLines">
                  Congratulation <code><%=session.newuser%></code>, your account have been created successfully<br/>
                  Please <a href="/login">login</a> to create your own story and share it with the world.
                  </blockquote>

                    </div>
                </div>
            </div>
        </div>


    </div>
      <% include partials/jsIncludes.ejs %>

</body>

</html>
